.listaordenada {
    background-color: yellow;
}
.listaordimpar {
    text-transform: uppercase;
}
.listaordimpar {
    color: green;
}
.titulo {
    color: red;
}
.tituloitalico {
    font-size: 40px;
    border: 1px solid black;
}

